<div class="container">
    <!--<wo-app-home></wo-app-home>-->
    <!--<wo-app-footer></wo-app-footer>-->
    <!--<wo-app-contacto></wo-app-contacto>-->
    <!--<wo-app-post></wo-app-post>-->
    <!--<div class="row">
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a [routerLink]="['/']">Home</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/contacto']">Contacto</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/post']">Post</a></li>
            </ul>
        </nav>
    </div>-->
    <wo-app-adv-navbar></wo-app-adv-navbar>
    <hr>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>